<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechCon Header</title>
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1kY99CQMDuVetollrYwgSt+9QdHe7NLX/SoYhXDXF3Z71knRfysxLSi8n07UC"
            crossorigin="anonymous">
    </script>
</head>

<body>
<!-- Section 1 -->
<header>
    <nav data-hx-trigger="load"
         data-hx-swap="outerHTML"
         data-hx-get="global.header-nav.partial.html">
    </nav>
</header>

<main>
    <!-- Section 2 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-hero.partial.html">
    </section>

    <!-- Section 3 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-expectations.partial.html">
    </section>

    <!-- Section 4 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-conference.partial.html">
    </section>

    <!-- Section 5 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-discussions.partial.html">
    </section>

    <!-- Section 6 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-speakers.partial.html">
    </section>

    <!-- Section 7 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-event.partial.html">
    </section>

    <!-- Section 8 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-features.partial.html">
    </section>

    <!-- Section 9 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-schedule.partial.html">
    </section>

    <!-- Section 10 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-guests.partial.html">
    </section>

    <!-- Section 11 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-how.partial.html">
    </section>

    <!-- Section 12 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-registration.partial.html">
    </section>

    <!-- Section 13 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-faq.partial.html">
    </section>

    <!-- Section 14 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.section-ticket.partial.html">
    </section>

    <!-- Section 15 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.section-footer.partial.html">
    </section>
</main>
</body>
</html>